@model IEnumerable<Producto>
@{
    ViewData["Title"] = "Listado de Productos";
}
<div class="container p-3">
    <div class="row pt-4 mb-5">
        <div class="col-6">
            <h2 class="text-primary">Listado de Productos</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Producto" asp-action="Create" class="btn btn-primary"><i class="bi bi-plus-circle"></i> &nbsp; Crear una nuevo producto</a>
        </div>
    </div>

    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Código</th>

                <th>Nombre</th>
                <th>Stock</th>
                <th>Precio</th>
                <th>Imagen del Producto</th>
                <th></th>

            </tr>
        </thead>
        <tbody>
            @foreach (var obj in Model)
            {
                var imgsrc = "";
                if (obj.Imagen_Producto != null)
                {

                    var base64 = Convert.ToBase64String(obj.Imagen_Producto);
                    imgsrc = String.Format("data:image/jpeg;base64,{0}", base64);
                }



                <tr>
                    <td style="width=30%">@obj.Codigo</td>
                    <td style="width=30%">@obj.Nombre</td>
                    <td style="width=30%">@obj.Stock</td>
                    <td style="width=30%">@obj.Precio</td>

                    <td style="width=50%"><img style="max-width:150px" src="@imgsrc"></td>
                    <td class="text-center">
                        <div class="w-75 btn-group" role="group">
                            <a class="btn btn-success" asp-action="Edit" asp-route-id="@obj.ID_Producto"><i class="bi bi-pencil-square"></i> </a>
                            <a class="btn btn-warning" asp-action="Delete" asp-route-id="@obj.ID_Producto"><i class="bi bi-trash3"></i> </a>
                            <a class="btn btn-primary" asp-action="View" asp-route-id="@obj.ID_Producto"><i class="bi bi-eye"></i> </a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>