@model IEnumerable<Movimiento>

@{
    ViewData["Title"] = "Movimientos";
    Pager pager = new Pager();
    int pageNo = 0;
    if (ViewBag.Pager != null)
    {
        pager = ViewBag.Pager;
        pageNo = pager.CurrentPage;
    }
}

<div class="container p-3">
    <div class="row pt-4 mb-5">
        <div class="col-6">
            <h2 class="text-primary">Movimientos <a href="#" class="fs-6 text-info" data-bs-placement="right" data-bs-toggle="tooltip" data-bs-title="Para crear un movimiento de salida debe realizar un requerimiento hacia el inventario"><i class="bi bi-question-circle"></i></a></h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Movimiento" asp-action="Create" class="btn btn-primary"><i class="bi bi-plus-circle"></i> Crear Movimiento de Entrada</a>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Tipo de Movimiento</th>
                    <th>Fecha de Creacion</th>
                    <th>Descripcion</th>
                    <th>Por</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var obj in Model)
                {
                    <tr>
                        @if (obj.TipoMovimiento)
                        {
                            <td style="width=50%">Salida</td>
                        }
                        else
                        {
                            <td style="width=50%">Entrada</td>
                        }
                        <td style="width=30%">@obj.FechaCreacion</td>
                        <td style="width=30%">@obj.Descripcion</td>
                        <td style="width=30%">@obj.Usuario.Nombre</td>
                        <td class="text-center">
                            <div class="btn-group" role="group">
                                <a class="btn btn-primary" asp-action="View" asp-route-id="@obj.Id"><i class="bi bi-eye"></i></a>
                            @if(!obj.TipoMovimiento)
                            {
                                <a class="btn btn-success" asp-action="Edit" asp-route-id="@obj.Id"><i class="bi bi-pencil-square"></i></a>
                                <a class="btn btn-warning" asp-action="Delete" asp-route-id="@obj.Id" onclick="return confirm('Estas seguro de eliminar este Movimiento?')"><i class="bi bi-trash3"></i></a>
                            }
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="container">
        @if (pager.TotalPages > 0)
        {
            <ul class="pagination justify-content-end">
                @if (pager.CurrentPage > 1)
                {
                    <li class="page-item">
                        <a class="page-link" asp-controller="Movimiento" asp-action="Index" asp-route-pg="1"><i class="bi bi-chevron-double-left"></i></a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" asp-controller="Movimiento" asp-action="Index" asp-route-pg="@(pager.CurrentPage - 1)"><i class="bi bi-chevron-left"></i></a>
                    </li>
                }
                @for (var pge = pager.StartPage; pge <= pager.EndPage; pge++)
                {
                    <li class="page-item @(pge == pager.CurrentPage ? "active" : "")">
                        <a class="page-link" asp-controller="Movimiento" asp-action="Index" asp-route-pg="@pge">@pge</a>
                    </li>
                }
                @if (pager.CurrentPage < pager.TotalPages)
                {
                    <li class="page-item">
                        <a class="page-link" asp-controller="Movimiento" asp-action="Index" asp-route-pg="@(pager.CurrentPage + 1)"><i class="bi bi-chevron-right"></i></a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" asp-controller="Movimiento" asp-action="Index" asp-route-pg="@(pager.TotalPages)"><i class="bi bi-chevron-double-right"></i></a>
                    </li>
                }
            </ul>
        }
    </div>
</div>

@section Scripts {
    <script>
        const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]');
        const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl));
    </script>
}